/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
/* Horizontal line */
.collapsible-link::before {
    content: '';
    width: 14px;
    height: 2px;
    background: #333;
    position: absolute;
    top: calc(50% - 1px);
    right: 1rem;
    display: block;
    transition: all 0.3s;
}

/* Vertical line */
.collapsible-link::after {
    content: '';
    width: 2px;
    height: 14px;
    background: #333;
    position: absolute;
    top: calc(50% - 7px);
    right: calc(1rem + 6px);
    display: block;
    transition: all 0.3s;
}

.collapsible-link[aria-expanded='true']::after {
    transform: rotate(90deg) translateX(-1px);
}

.collapsible-link[aria-expanded='true']::before {
    transform: rotate(180deg);
}

input[type="checkbox"] {
    zoom: 1.6;
}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/



body {
    background-color: black;
    background-image: radial-gradient(
            rgba(0, 150, 0, 0.75), black 120%
    );

/*   background-image: url("../background/zvezdy-kosmos-prostranstvo-ellen-ripli-chuzhoi.jpg");*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


    font: 1rem Inconsolata, monospace;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;


     background: repeating-linear-gradient(
         0deg,
         rgba(0,0,0 , 0.1),
         rgba(0,0,0 , 0.1) 1px,
         transparent 1px,
         transparent 2px
    );

/*    background-image: url("../background/tenor5.gif");*/
/*    background: url("../background/tenor.gif");*/
/*    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
/*    opacity: 0.02;*/
    pointer-events: none;
}

body div h2 {
    text-shadow: 0 0 5px #C8C8C8;
    font-family: 'Conv_Lazer84';
}
::selection {
    background: #0080FF;
    text-shadow: none;
}


.container {
    flex: 1;
}

label.form-check-label {
    font-size: 1.3em;
    line-height: 1.5;

}

#count_done, #count_open {
    font-size: 0.9em;
}


div[name="text"] {
    min-width: 100px;
    word-break: break-all;
    cursor: text;
}

#newtodo, #signin, #histroy, #show_completed{
    cursor: pointer;
}

#newtodo:hover {
    text-decoration-line: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 2px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

#signin:hover {
    text-decoration-line: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 2px #FFF, 0 -2px 10px #00ff1b, 0 -10px 20px #77ff83, 0 -18px 40px #daffdb;
}

#todo {
    text-shadow: 0 0 5px #C8C8C8;
}

#histroy:hover {
    text-decoration-line: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 2px #FFF, 0 -2px 10px #00ff1b, 0 -10px 20px #77ff83, 0 -18px 40px #daffdb;
}

div[name="created"], div[name="completed"] {
    color: #e4e3e3;
    outline: 0px solid transparent;
}

[contenteditable] {
    outline: 0px solid transparent;
}
div[name="trash"] {
    cursor: pointer;
    width: 3.4em;
    height: 1.2em;
    margin-left: 0.5em ;
    margin-top: 0.1em;
    background-image: url(../img/trash.svg);
    background-repeat: no-repeat;
}


/** Generated by FG **/
@font-face {
    font-family: 'Conv_Lazer84';
    src: url('../fonts/Lazer84/Lazer84.eot');
    src: local('☺'), url('../fonts/Lazer84/Lazer84.woff') format('woff'), url('../fonts/Lazer84/Lazer84.ttf') format('truetype'), url('../fonts/Lazer84/Lazer84.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


li[done="false"] div[name="status"] {
     cursor: pointer;
     width: 3em; height: 2em;
     background-image: url(../img/circle.svg);
     background-repeat: no-repeat;
}

li[done="false"] div[name="text"] {
    text-decoration: none;
}

li[done="true"] div[name="status"] {
    cursor: pointer;
    width: 3em; height: 2em;
    background-image: url(../img/circle-fill.svg);
    background-repeat: no-repeat;
}

li div[name='text'] {
    font-size: 1.4em;
}

li[done="true"] div[name="text"] {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.5);
}

li[done="false"] div[name="text"] {
    color: white;
    text-shadow: 0 0 5px #C8C8C8;
}



footer {
    position:fixed;
    bottom:15px;
    left:0;
    right:0;

}

a {
    border-bottom: 1px solid #ffffff;
}

footer a:hover {
    text-decoration-line: none;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}



.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}

.border-md {
    border-width: 2px;
}

.btn-google {
    background: #fff;
    border-color: #ccc;
}
.btn-google:hover, btn-google:focus {
    border-color: #007bff;
}
.btn-google img {
    padding: 0 0.2em 0.2em 0;
}

.navbar {
    padding-bottom: 0rem;
    padding-top: 0rem;
    background-color: rgba(52, 58, 64, 0.7) !important;
}

.navbar-text h2 {
    font-size: 2.0rem
}
.navbar-text h2 span:first-child {
    font-family:'Conv_Lazer84'
}

#signinModal {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#newtask {
    cursor: pointer;
    position: fixed;
    left: 0;
    right: 0;
    bottom: -25px;
    margin-left: auto;
    margin-right: auto;
    transition: bottom 0.2s;
    z-index: 1031;
}



#bottom_nav {
    transition: bottom 0.2s;
}
#bottom_nav div {
    height: 30px;
}

#top_nav {
    transition: top 0.2s;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}